{% extends "layout.html" %}

{% block body %}

    <div>
        <form action="/register" method="post">
            <input type="text" placeholder="Name" autocomplete="off" autofocus name="name" required>
            <select name="sport">
                <option selected disabled>Sport</option>
                {% for sport in sports %}
                    <option value="{{ sport }}">{{ sport }}</option>
                {% endfor %}
            </select>
            <button>Register</button>
        </form>
    </div>

{% endblock %}
